<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='StyleSheet1.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800;900&display=swap" rel="stylesheet">
    <title>SMUH</title>
</head>
<body>
    <div class="header">
        <div class="modal" id="my-modal">
            <div class="modal__box">
                <button class="modal__close-btn" id="close-modal-btn"></button>
                <div class="modal-title-2">Оставьте свой номер телефона</div>
                <div class="modal-title">Вскоре наши волонтёры свяжутся с вами!</div>
                <div><input type="tel" class="modal-input" placeholder="+7 (999) 999-99-99"></div>
                <a type="submit" class="modal-btn" href="#" onclick="closePopup()">Отправить</a>
            </div>
        </div>

        <div class="container">
            <div class="header-line">
                <div class="header-logo">
                    <a class="header-logo-btn" href="#">SMUH</a>
                </div>

                <div class="nav">
                    <a class="nav-item" href="/register">Регистрация</a>
                    <a class="nav-item" href="/login">Войти</a>
                </div>
            </div>
            <div class="header_side">
                <div class=header_down_block1>
                    <div class="header-down">
                        <div class="header-title">
                            Мы рядом<br>Напиши нам!
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="btn">
                        <a class="open-modal-btn button" href="#" onclick="openPopup()">Начать общение</a>
                    </div>

                    <script>
                        let popup = document.getElementById("my-modal")

                        function openPopup(){
                            popup.classList.add("open-modal");
                        }

                        function closePopup(){
                            popup.classList.remove("open-modal");
                        }

                    </script>
                </div>
            </div>
        </div>
    </div>
<section class="section">
    <div class="container">
        <div class="section-header">
            <div class="section-title">О нас</div>
        </div>
        <div class="section-body">
            <div class="section-body-image">
                <img src="../static/images/Group 4.png" alt="">
            </div>
            <div class="section-body-about">
                <div class="section-body-about-title">SMUH</div>
                <div class="section-body-about-text">
                    · "SMUH" заботится о вашем комфорте! Мы предоставляем специальные услуги для пенсионеров, чтобы сделать вашу жизнь насыщенее.
                    <br><br>
                    · С нами вы можете рассчитывать на персональное внимание, поддержку и заботу. Дружелюбное общение — мы стараемся создать окружение, где каждый пенсионер чувствует себя важным и поддержанным.
                    <br><br>
                    · Наши ценности основаны на уважении к вашему опыту и желанию сделать вашу повседневную жизнь приятной. Мы вместе с вами в этом путешествии, стремясь делать каждый ваш день немного лучше.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-ot">
    <div class="container">
        <div class="section-ot-header">
            <div class="section-ot-title">Для волонтёров</div>
        </div>
        <div class="section-ot-body">
            <div class="section-ot-body-item"><img src="assets/images/wind.png"><br> Главной целью волонтерской программы является улучшение качества жизни пожилых людей путем предоставления им социальной поддержки, разнообразных услуг и главным образом - через общение. Предоставить пенсионерам возможность общаться, делиться своими мыслями и интересами.</div>
            <div class="section-ot-body-item"><img src="assets/images/cloud.png"><br>Задачи волонтёров:<br>- Поддержание регулярной связи с клиентами. <br>- Помощь в заботе и здоровье. <br>- Обеспечение безопасности клиентов.</div>
            <div class="section-ot-body-item"><img src="assets/images/snow.png"><br>Услуги:
     <br>- Групповые чаты и мероприятия: Компания создает групповые чаты, где пенсионеры могут общаться.
     <br>- Поддержка в срочных ситуациях: Мы предоставляем возможность быстро связаться с экстренными службами или срочно вызвать помощь в случае необходимости.
     <br>- Советы и информация: Пенсионеры могут обращаться за советами по здоровью, финансам и другим вопросам</div>
            <div class="section-ot-body-item"><img src="assets/images/medicine.png"><br>Наша программа стремится уменьшить социальную изоляцию пожилых людей, предоставить им возможность оставаться активными и общаться с миром в цифровую эпоху. Компания уделяет внимание их эмоциональному и интеллектуальному развитию.</div>
        </div>
    </div>
</section>


<footer class="footer">
    <div class="copyright">
        © Copyright 2023 | Pajor
    </div>
</footer>
</body>
</html>